.margin-top-page .bd {
    flex: 1;
    color: #fff;
}
.margin-top-page .content-wrapper {
    display: inline-block;
    position: absolute;
    letter-spacing: .01rem;
}
.margin-top-page.common .content-wrapper {
    display: inline-block;
    position: absolute;
    left: 1.68rem;
    right: 1.68rem;
    top: 1.12rem;
}
.margin-top-page .title {
    font-size: .35rem;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-bottom: .16rem;
}
.margin-top-page .content {
    font-size: .15rem;
    display: inline-block;
    width: 100%;
    margin: .05rem 0rem;
}
.margin-top-page .detail {
    display: flex;
    line-height: .35rem;
    margin-top: .58rem;
}
.margin-top-page .detail .btn {
    height: .35rem;
    width: .35rem;
    border-radius: 50%;
    border: .01rem solid #313e48;
    box-sizing: border-box;
    font-size: .23rem;
    text-align: center;
}
.margin-top-page .detail p {
    flex: 1;
    font-size: .15rem;
    font-weight: bold;
    margin: 0 .10rem;
}